.cardSection {
  border: 2px solid black;
  border-radius: 20px;
  height: fit-content;
}

.pictureAndInfo {
  display: flex;
}

.pictureAndInfo img {
  margin: 1vw 2vw;
}

.editInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: baseline; */
  font-size: large;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  font-size: large;
}

.descriptionSection {
  font-size: large;
  margin: 1vw;
}

.descriptionSection #label {
  text-align: left;
}

.descriptionSection #text {
  border: 1px solid black;
  padding: 1vw 2vw;
  margin-top: 1vw;
  background-color: rgb(189, 188, 188);
}

.adoptButton {
  margin-bottom: 1vw;
  background-color: rgb(30, 125, 73);
}

.editButton {
  margin-bottom: 1vw;
  background-color: black;
}

.saveButton {
  margin-bottom: 1vw;
  background-color: black;
  color: white;
}

.inputText {
  background-color: white;
  padding: 1vw;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

.inputImgUrl {
  padding: 1vw;
  height: fit-content;
  margin: 3vw 0.5vw;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.inputSelect {
  padding: 1vw;
  margin-left: 1vw;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

.inputDescription {
  background-color: white;
  width: 95%;
  padding: 1vw;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cardSection {
    width: max-content;
    margin: 1vw 0 1vw 3vw;
  }

  .pictureAndInfo {
    flex-direction: column;
    align-items: center;
  }

  .infoSection {
    width: 100%;
    align-items: center;
  }

  .pictureAndInfo img {
    width: 25%;
    height: 25%;
  }

  .descriptionLabel {
    text-align: center;
  }

  .adoptButton {
    font-size: 3.5vw;
  }

  .editButton {
    font-size: 3.5vw;
  }

  .saveButton {
    font-size: 3.5vw;
  }

  .editInfoSection {
    width: max-content;
    align-items: center;
  }

  .inputImgUrl {
    width: 90%;
  }

  .inputText {
    width: 90%;
    font-size: 3vw;
  }

  .inputSelect {
    width: 100%;
    font-size: 3vw;
  }

  .checkbox {
    width: 3vw;
    height: 3vw;
  }

  .inputDescription {
    font-size: 3vw;
  }
}

@media screen and (min-width: 768px) {
  .cardSection {
    width: 45%;
    margin: 1vw;
  }

  .infoSection {
    width: 65%;
  }

  .pictureAndInfo img {
    width: 7vw;
    height: 7vw;
  }

  .descriptionLabel {
    text-align: left;
  }

  .adoptButton {
    font-size: large;
  }

  .editButton {
    font-size: large;
  }

  .saveButton {
    font-size: large;
  }

  .editInfoSection {
    width: 55%;
    align-items: baseline;
  }

  .inputImgUrl {
    width: 6.5vw;
  }

  .inputText {
    width: 54%;
    font-size: 1vw;
  }

  .inputSelect {
    font-size: 1vw;
  }

  .checkbox {
    width: 1vw;
    height: 1vw;
  }

  .inputDescription {
    font-size: 1vw;
  }
}
