.notificationsSection {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: fit-content;
  color: black;
  margin: 2vw auto;
  padding: 2vw auto;
  font-size: large;
}

.notificationsTitle {
  margin-left: 2vw;
  margin-top: 2vw;
  color: tomato;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}

.newNotificationButton {
  background-color: rgb(30, 125, 73);
  width: fit-content;
  margin: 2vw;
  border-radius: 15px;
  padding: 1vw 2vw;
  height: fit-content;
  font-size: 1.5vw;
  color: white;
}

.notification {
  margin: 2vw;
}

.notificationHeader {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  font-weight: 600;
  z-index: 4s;
}

.notificationBody {
  padding: 2vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}

.notificationBody .button {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.87);
}

.button img {
  width: 2vw;
}

.notificationInputContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 2vw;
}

.inputLabel {
  font-size: large;
  margin-right: 1vw;
}

.textInput {
  padding: 1vw;
  width: fit-content;
  background-color: white;
  color: black;
  font-size: large;
  border-radius: 10px;
}

.textAreaInput {
  background-color: white;
  color: black;
  width: fit-content;
  font-size: large;
  padding: 1vw;
  border-radius: 15px;
}
.textAreaLabel {
  font-size: large;
  margin-right: 1vw;
  align-self: center;
}

.textAreaContainer {
  display: flex;
  align-items: end;
}

.checkBoxInput {
  width: 1.25vw;
  height: 1.25vw;
}

.button {
  background-color: rgb(30, 125, 73);
  padding: 1vw 2vw;
  height: fit-content;
  font-size: large;
  color: white;
  border-radius: 15px;
}
