.infoSectionStyle {
  height: fit-content;
  border: 3px solid rgb(189, 188, 188);
  border-radius: 15px;
  background-color: rgb(189, 188, 188);
  color: black;
  margin: 2vw auto;
}

.infoFlexContainer {
  display: flex;
}

.infoData {
  width: 100%;
}

iframe {
  width: 40%;
  margin: 2vw 3vw;
}

.textDataStyle {
  display: flex;
  justify-content: space-between;
  margin: 5% 15%;
}

.textDataStyle span {
  margin: auto 2vw;
}

#textLabel {
  font-weight: bold;
}

.numberDataStyle {
  display: flex;
  justify-content: space-between;
  margin: 5% 15%;
}

.numberDataStyle #numberLabel {
  font-weight: bold;
  margin: auto 2vw;
}

.numberDataStyle #graphicValue {
  background-color: white;
  color: #242424;
  border-radius: 15px;
  padding: 2%;
  font-weight: bold;
  margin: auto 2vw;
}

.infoTitle {
  margin-top: 2vw;
}

.textarea {
  background-color: white;
  color: black;
  height: 5vw;
  margin: 2vw;
  border-radius: 15px;
}
.messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: 40%;
  background-color: white;
  border-radius: 15px;
  padding: 1vw 2vw;
}

.messageForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(30, 125, 73);
  padding: 1vw 2vw;
  height: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .infoSectionStyle {
    width: 100%;
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
  }
  .infoFlexContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoData {
    width: 100%;
  }

  .textDataStyle {
    font-size: 20px;
    align-self: baseline;
    text-align: left;
  }

  .numberDataStyle {
    font-size: 20px;
    align-self: baseline;
    text-align: left;
  }

  .textarea {
    padding: 2vw;
    font-size: 3vw;
    width: 60%;
  }

  .button {
    font-size: 3vw;
  }

  .message {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 768px) {
  .infoSectionStyle {
    width: 80vw;
  }

  .textDataStyle {
    font-size: 1.25vw;
  }

  .numberDataStyle {
    font-size: 1.25vw;
  }

  .textarea {
    width: 40%;
    font-size: 1.5vw;
    padding: 1vw;
  }

  .message {
    font-size: 1.25vw;
  }

  .button {
    font-size: 1.5vw;
  }
}
